/*** reset ***/

@charset "utf-8";

/* 清除浏览器默认样式 begin */

html,
body {
    overflow-x: hidden;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td {
    padding: 0;
    margin: 0;
}

body {
    line-height: 27px;
    background: white;
    font-size: 12px;
    font-family: Microsoft Yahei;
    overflow-x: hidden;
}

ul,
ol,
li {
    list-style: none;
}

img {
    border: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

select,
img,
input {
    vertical-align: middle;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus {
    outline-width: 2px;
    outline-color: #ffa500;
}

input[type="button"]:focus {
    outline: none;
}

input[type="button"]:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

* html,
* html body {
    background-image: url(about:blank);
    background-attachment: fixed;
}

root:* {
    filter: none;
}


/* 清除浏览器默认样式 end */


/* 用于清除float产生的副作用 begin */

.clr {
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}


/* 用于清除float产生的副作用 end */


/* 定义常用样式（方便后期，可直接修改HTML的class名微调位置） begin */

.fl {
    float: left;
}

.fr {
    float: right;
}

h2 {
    font-size: 14px;
    line-height: 30px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

.m10 {
    margin: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.m20 {
    margin: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr20 {
    margin-right: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

.p10 {
    padding: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pl10 {
    padding-left: 10px;
}

.p20 {
    padding: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pl20 {
    padding-left: 20px;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.gray {
    color: #666!important;
    color: #666;
}

.gray:hover {
    color: #333!important;
    color: #333;
}

.graylight {
    color: #999!important;
    color: #999;
}


/* 定义常用样式 end */